
[Desktop Entry]
Name=wmmon
Comment=CPU and system load monitor
Comment[pl]=Monitor obci±¿enia procesora i systemu
Exec=wmmon
Terminal=0
Type=Application
