[Desktop Entry]
Name=WmMon
Comment=CPU and system load monitor
Comment[pl]=Monitor obciążenia procesora i systemu
Exec=wmmon
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Applet;
NoShOwIn=GNOME;KDE;
# vi: encoding=utf-8
